@media screen and (max-width: 1024px) {
    .wp-block-spacer {
      display:none;
    }
    #page-wrapper .container > * {
        margin-top:50px;
    }
    .wp-block-advgb-button {
        margin-top:15px;
    }
    .mbl-layout-stacked > * {
        margin-top:25px;
    }
}