.woocommerce ul.products li.product  {
    .button {
        margin-top:0px;
    }
    a img {
        margin:0;
    }
}

.woocommerce-ordering {
    display:none !important;
}

.product_meta {
    display:none;
}

.woocommerce ul#shipping_method li {
    line-height: 2em;
}

.coupon {
    display:none;
}

.shop_table_responsive {
    margin-top:10px !important;
}

.woocommerce .cart-collaterals .cart_totals {
    h2 {
        font-size:24px;
        font-family: 'Abril Fatface', cursive;
        letter-spacing:1px;
    }
    width:100%;
}

.entry-summary > * {
    padding-top:15px;
    input {
        height:38px;
        font-size:18px;
        
    }
}

.woocommerce .single_add_to_cart_button {
    background-color:#B28E6A !important;
}

.related {
    display:none;
}

.woocommerce div.product p.price {
    color:#B28E6A;
    font-size:1.75em;
    padding-top:15px;
}

.woocommerce-product-details__short-description {
    padding-top:10px;
}

.in-stock {
    padding-top:5px;
}

.woocommerce a.button.alt {
    &:hover {
        background-color:#333;
    }
}

.woocommerce form .form-row input.input-text {
    height:35px;
}